[submodule "Unit 2/Final Grade Caluculator"]
	path = Unit 2/Final Grade Caluculator
	url = https://github.com/rapphy243/Final-Grade-Caluculator
[submodule "Unit 3/Madlibs"]
	path = Unit 3/Madlibs
	url = https://github.com/rapphy243/Madlibs
[submodule "Unit 4/Pig"]
	path = Unit 4/Pig
	url = https://github.com/rapphy243/Pig
[submodule "Unit 5/Tic-Tac-Toe"]
	path = Unit 5/Tic-Tac-Toe
	url = https://github.com/rapphy243/Tic-Tac-Toe
[submodule "Unit 6/Final-App"]
	path = Unit 6/Final-App
	url = https://github.com/rapphy243/Final-App
[submodule "Unit 7/Country-Flag-Game"]
	path = Unit 7/Country Flag Game
	url = https://github.com/rapphy243/Country-Flag-Game
[submodule "Unit 8/To-Do-List"]
	path = Unit 8/To-Do-List
	url = https://github.com/rapphy243/To-Do-List
[submodule "Unit 8/To-Do-List"]
	path = Unit 8/To-Do-List
	url = https://github.com/rapphy243/To-Do-List
[submodule "Unit 8/Assignment Notebook"]
	path = Unit 8/Assignment Notebook
	url = https://github.com/rapphy243/Assignment-Notebook
[submodule "Unit 9/Map Hackwich"]
	path = Unit 9/Map Hackwich
	url = https://github.com/rapphy243/Map-Hackwich
[submodule "Unit 9/Za Hunter"]
	path = Unit 9/Za Hunter
	url = https://github.com/rapphy243/Za-Hunter
[submodule "Unit 10/API-Calling"]
	path = Unit 10/API-Calling
	url = https://github.com/rapphy243/API-Calling
