[submodule "Unit 2/Final Grade Caluculator"]
	path = Unit 2/Final Grade Caluculator
	url = https://github.com/rapphy243/Final-Grade-Caluculator
[submodule "Unit 3/Madlibs"]
	path = Unit 3/Madlibs
	url = https://github.com/rapphy243/Madlibs
[submodule "Unit 4/Pig"]
	path = Unit 4/Pig
	url = https://github.com/rapphy243/Pig
[submodule "Unit 5/Tic-Tac-Toe"]
	path = Unit 5/Tic-Tac-Toe
	url = https://github.com/rapphy243/Tic-Tac-Toe
[submodule "Unit 6/Final-App"]
	path = Unit 6/Final-App
	url = https://github.com/rapphy243/Final-App